<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>Photoshop</li>
  <li>Illustrator</li>
</ul>
</body>