* {
    box-sizing: border-box;
}

header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0; padding: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

.basket{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    width: 1080px;
    height: 720px;
}

.acquire_point {
    width: 1000px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.heading {
    margin: auto; padding: 0;
    font-size: 35px;
    text-align: center;
    display: inline-block;
}

.inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.inner-inner{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.create_team{
    margin-top: 60px;
    margin-right: 0;
    margin-bottom: 100px;
    margin-left: 0;
}

.team-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}

.head-news {
    margin: 0; padding: 0;
    font-size: 35px;
    text-align: center;
}

.news{
    display: block;
}

.news-1,.news-2,.news-3{
    display: flex;
}

.news-text{
    display: inline-block;
    vertical-align: middle;
}

footer{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    color: white;
    text-align: center;
    bottom:0;

}
div.footer-menu li {
    display: block;
    color: black;
    text-align: center;
    margin: auto ;
}

p{
    color: black;
}